<!DOCTYPE html>
<html>
<body>
  <div>

    <h1><%= link_to "CREATE NEW BILL", new_bill_path %></h1>

    <h1><%= link_to "Search For Bill", new_bill_path %></h1>

    
    <p>My first paragraph.</p>

  </div>
</body>
</html>
